{% extends "index.html" %}

{% block title %}Liste des Entrées{% endblock %}

{% block content %}

<h2>Liste des Entrées</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Montant</th>
            <th>Catégorie</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id.hex }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.amount }}</td>
            <td>{{ entry.category or 'Aucune' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('web_ui.index') }}" class="btn btn-secondary">Retour à l'Accueil</a>
{% endblock %}
