<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Supprimer un utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Supprimer une entrée par ID</h1>

    
    <form method="POST" action="{{ web_ui.delete) }}">
        <label for="entry_id">ID de l'utilisateur :</label>
        <input type="text" id="entry_id" name="entry_id" required>
        <button type="submit">Supprimer</button>
    </form>

    <br>

    <form action="{{ url_for('index') }}">
        <button type="submit">Retour à l'accueil</button>
    </form>

</body>
</html>
