{% extends "index.html" %}

{% block title %}Importer un fichier CSV{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h2>Importer un fichier CSV</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="file">Choisir un fichier CSV</label>
        {{ form.file(class="form-control") }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Importer</button>
    </div>
</form>


<br>

<!-- Bouton pour revenir à l'index -->
<a href="{{ url_for('web_ui.index') }}">Retour à l'accueil</a>

{% endblock %}
